In [44]:
#Importamos las librerias:
import pandas as pd
import numpy as np

## PASO1-Se realiza la lectura de los datasets - SE AÑADE A CADA TABLA EL CAMPO IDENTIFICADOR DE LA PLATAFORMA, PARA IDENTIFICARLOS CUANDO SE CONCATENEN

In [45]:
amazon = pd.read_csv('./Datasets/amazon_prime_titles.csv', engine='python', decimal=".")
amazon["plataforma"]= 'Amazon'

In [46]:
disney = pd.read_csv('./Datasets/disney_plus_titles.csv', engine='python', decimal=".")
disney["plataforma"]= 'Disney'

In [47]:
hulu = pd.read_csv('./Datasets/hulu_titles.csv', engine='python', decimal=".")
hulu["plataforma"]= 'Hulu'

In [48]:
netflix= pd.read_json('./Datasets/netflix_titles.json')
netflix["plataforma"]= 'Netflix'

## PASO II- Se procede a revisar la info de cada dataset. para identificar:
    1.Numero de registros de cada Datasets
    2.Tipo de Dato.
    3.revisión de nulos
    4.Definir los datos que se utilizaran para concatenar las 4 tablas entregadas
    
Objetivo de las consultas para tener en cuenta en el analisis exploratorio de Datos

1.-Maxima duracion segun tipo de film (año, plataforma, min o season).
2.Cantidad de películas y series (separado) por plataforma
3.-Actor que más se repite según plataforma y año.
amazon/disney- type,title, cast,realease_year,date_added,duration,listed_in

Al revisar la data se determina lo siguiente:
1.-Hay información faltante en los actores, se decide colocarles 'no definido' la pregunta 1 y 2 no filtran por actor.
2.-Se considera que las preguntas de fecha son la fecha de liberacion de la pelicula, no la fecha que fue subida a la plataforma, por lo tanto no se consideran
director, pais, date_added, rating..

In [49]:
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataforma
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix
1,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Netflix
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Netflix
3,s4,TV Show,Jailbirds New Orleans,None,None,None,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",Netflix
4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,Netflix
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",Netflix
8803,s8804,TV Show,Zombie Dumb,None,None,None,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",Netflix
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,Netflix
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",Netflix
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,Netflix

In [50]:
hulu

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataforma
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,Hulu
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",Hulu
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,Hulu
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...,Hulu
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,Hulu
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3068,s3069,TV Show,Star Trek: The Original Series,NaN,NaN,United States,NaN,1966,TV-PG,3 Seasons,"Action, Adventure, Classics",The 23rd century adventures of Captain James T...,Hulu
3069,s3070,TV Show,Star Trek: Voyager,NaN,NaN,United States,NaN,1997,TV-PG,7 Seasons,"Action, Adventure, Science Fiction",Catapulted into the distant sector of the gala...,Hulu
3070,s3071,TV Show,The Fades,NaN,NaN,United Kingdom,NaN,2011,TV-14,1 Season,"Horror, International, Science Fiction",Seventeen-year-old Paul is haunted by apocalyp...,Hulu
3071,s3072,TV Show,The Twilight Zone,NaN,NaN,United States,NaN,1959,TV-PG,5 Seasons,"Classics, Science Fiction, Thriller",Rod Serling's seminal anthology series focused...,Hulu
3072,s3073,TV Show,Tokyo Magnitude 8.0,NaN,NaN,Japan,NaN,2009,TV-14,1 Season,"Anime, Drama, International",The devastation is unleashed in the span of se...,Hulu

In [51]:
## PASO 3 luego del analisis se determina los campos poco relevantes para el analisis. por lo que se decide eliminarlos. se escala al cliente para cualquier cambio que requiera sobre esta decision

In [52]:
netflix = netflix.drop(['show_id','director',"country","date_added","rating","description"], axis=1)
amazon =   amazon.drop(['show_id','director',"country","date_added","rating","description"], axis=1)
disney =   disney.drop(['show_id','director',"country","date_added","rating","description"], axis=1)
hulu =hulu.drop(['show_id','director',"country","date_added","rating","description"], axis=1)

In [53]:
## PASO 4 ## se revisa en los campos relevantes para la consulta.si hay  nulos en se colocara 'sin dato''.
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          9668 non-null   object
 1   title         9668 non-null   object
 2   cast          8435 non-null   object
 3   release_year  9668 non-null   int64
 4   duration      9668 non-null   object
 5   listed_in     9668 non-null   object
 6   plataforma    9668 non-null   object
dtypes: int64(1), object(6)
memory usage: 528.8+ KB

In [54]:
amazon

,type,title,cast,release_year,duration,listed_in,plataforma
0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama",Amazon
1,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110 min,"Drama, International",Amazon
2,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74 min,"Action, Drama, Suspense",Amazon
3,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,69 min,Documentary,Amazon
4,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,45 min,"Drama, Fantasy",Amazon
...,...,...,...,...,...,...,...
9663,Movie,Pride Of The Bowery,"Leo Gorcey, Bobby Jordan",1940,60 min,Comedy,Amazon
9664,TV Show,Planet Patrol,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",2018,4 Seasons,TV Shows,Amazon
9665,Movie,Outpost,"Ray Stevenson, Julian Wadham, Richard Brake, M...",2008,90 min,Action,Amazon
9666,TV Show,Maradona: Blessed Dream,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",2021,1 Season,"Drama, Sports",Amazon
9667,Movie,Harry Brown,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",2010,103 min,"Action, Drama, Suspense",Amazon

In [55]:
amazon.fillna("no dato", inplace=True)

In [56]:
disney.info()
# se revisa que hay nulos en actores por lo que colocara no definido, para que las peliculas esten incluidas en las otras consultas solicitadas.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          1450 non-null   object
 1   title         1450 non-null   object
 2   cast          1260 non-null   object
 3   release_year  1450 non-null   int64
 4   duration      1450 non-null   object
 5   listed_in     1450 non-null   object
 6   plataforma    1450 non-null   object
dtypes: int64(1), object(6)
memory usage: 79.4+ KB

In [57]:
disney.fillna("no dato", inplace=True)

In [58]:
hulu.info()
## se revisa que hay nulos en actores por lo que colocara no definido, para que las peliculas esten incluidas en las otras consultas solicitadas.
## se revisa que duracion se encuentra con nulos, lo que impide la pregunta de maxima duración, se analizara que colocar en caso sean series o peliculas mas adelante, por ahora se colocará en cero.
## sujeto a modificacion en una segunda iteracion

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          3073 non-null   object
 1   title         3073 non-null   object
 2   cast          0 non-null      float64
 3   release_year  3073 non-null   int64
 4   duration      2594 non-null   object
 5   listed_in     3073 non-null   object
 6   plataforma    3073 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 168.2+ KB

In [59]:
# al revisar esta data vemos que en el campo duracion, hay muchas filas que no tienen información, por lo que se decide colocar '0 dato'
# en lugar de 'sin dato' para falicitar el split que se hara al campo al campo duration
hulu.fillna("no dato", inplace=True)

In [60]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 0 to 8806
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   cast          7982 non-null   object
 3   release_year  8807 non-null   int64
 4   duration      8804 non-null   object
 5   listed_in     8807 non-null   object
 6   plataforma    8807 non-null   object
dtypes: int64(1), object(6)
memory usage: 550.4+ KB

In [61]:
netflix.fillna("no dato", inplace=True)

In [62]:
hulu

,type,title,cast,release_year,duration,listed_in,plataforma
0,Movie,Ricky Velez: Here's Everything,no dato,2021,no dato,"Comedy, Stand Up",Hulu
1,Movie,Silent Night,no dato,2020,94 min,"Crime, Drama, Thriller",Hulu
2,Movie,The Marksman,no dato,2021,108 min,"Action, Thriller",Hulu
3,Movie,Gaia,no dato,2021,97 min,Horror,Hulu
4,Movie,Settlers,no dato,2021,104 min,"Science Fiction, Thriller",Hulu
...,...,...,...,...,...,...,...
3068,TV Show,Star Trek: The Original Series,no dato,1966,3 Seasons,"Action, Adventure, Classics",Hulu
3069,TV Show,Star Trek: Voyager,no dato,1997,7 Seasons,"Action, Adventure, Science Fiction",Hulu
3070,TV Show,The Fades,no dato,2011,1 Season,"Horror, International, Science Fiction",Hulu
3071,TV Show,The Twilight Zone,no dato,1959,5 Seasons,"Classics, Science Fiction, Thriller",Hulu
3072,TV Show,Tokyo Magnitude 8.0,no dato,2009,1 Season,"Anime, Drama, International",Hulu

In [86]:
## Paso 4.- Se concatena el dataframe- se reinicilizan los indices
frames = [amazon, disney,hulu,netflix]

#concatenate dataframes
Transmision = pd.concat(frames, sort=False)

In [87]:
#Se resetea los indices despues de concatenarlos

In [88]:

Transmision=Transmision.reset_index(drop=True)

In [89]:
## se visualiza la concatenacion de dataframes
Transmision

,type,title,cast,release_year,duration,listed_in,plataforma
0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama",Amazon
1,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110 min,"Drama, International",Amazon
2,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74 min,"Action, Drama, Suspense",Amazon
3,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,69 min,Documentary,Amazon
4,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,45 min,"Drama, Fantasy",Amazon
...,...,...,...,...,...,...,...
22993,Movie,Zodiac,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",2007,158 min,"Cult Movies, Dramas, Thrillers",Netflix
22994,TV Show,Zombie Dumb,no dato,2018,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies",Netflix
22995,Movie,Zombieland,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",2009,88 min,"Comedies, Horror Movies",Netflix
22996,Movie,Zoom,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",2006,88 min,"Children & Family Movies, Comedies",Netflix
22997,Movie,Zubaan,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",2015,111 min,"Dramas, International Movies, Music & Musicals",Netflix

1.-Se procede a cambiar los tipos de datos, necesitamos que el año y la duracion sean numericos
2. se analiza como filtrar a los actores que estan separados por , en la columna cast, por el momento se mantendra asi, pensando en la consulta hacer un like al campo, si es necesario se modificará en la segunda iteracion.

In [90]:
Transmision.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          22998 non-null  object
 1   title         22998 non-null  object
 2   cast          22998 non-null  object
 3   release_year  22998 non-null  int64
 4   duration      22998 non-null  object
 5   listed_in     22998 non-null  object
 6   plataforma    22998 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.2+ MB

In [91]:
## Se realiza la separacion de los campos ya que una de las consultas pide sumar las cantidades
Transmision['duracion']=Transmision['duration'].map(lambda x:x.split(' ')[0])
Transmision['TipoDuracion']=Transmision['duration'].map(lambda x:x.split(' ')[1])

In [92]:
Transmision

,type,title,cast,release_year,duration,listed_in,plataforma,duracion,TipoDuracion
0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama",Amazon,113,min
1,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110 min,"Drama, International",Amazon,110,min
2,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74 min,"Action, Drama, Suspense",Amazon,74,min
3,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,69 min,Documentary,Amazon,69,min
4,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,45 min,"Drama, Fantasy",Amazon,45,min
...,...,...,...,...,...,...,...,...,...
22993,Movie,Zodiac,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",2007,158 min,"Cult Movies, Dramas, Thrillers",Netflix,158,min
22994,TV Show,Zombie Dumb,no dato,2018,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies",Netflix,2,Seasons
22995,Movie,Zombieland,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",2009,88 min,"Comedies, Horror Movies",Netflix,88,min
22996,Movie,Zoom,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",2006,88 min,"Children & Family Movies, Comedies",Netflix,88,min
22997,Movie,Zubaan,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",2015,111 min,"Dramas, International Movies, Music & Musicals",Netflix,111,min

In [93]:
#Una vez que se separan los campos que seran llevados a SQL se borra la columna origen
Transmision = Transmision.drop(["duration"], axis=1)

In [94]:
Transmision

,type,title,cast,release_year,listed_in,plataforma,duracion,TipoDuracion
0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,"Comedy, Drama",Amazon,113,min
1,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,"Drama, International",Amazon,110,min
2,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,"Action, Drama, Suspense",Amazon,74,min
3,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,Documentary,Amazon,69,min
4,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,"Drama, Fantasy",Amazon,45,min
...,...,...,...,...,...,...,...,...
22993,Movie,Zodiac,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",2007,"Cult Movies, Dramas, Thrillers",Netflix,158,min
22994,TV Show,Zombie Dumb,no dato,2018,"Kids' TV, Korean TV Shows, TV Comedies",Netflix,2,Seasons
22995,Movie,Zombieland,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",2009,"Comedies, Horror Movies",Netflix,88,min
22996,Movie,Zoom,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",2006,"Children & Family Movies, Comedies",Netflix,88,min
22997,Movie,Zubaan,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",2015,"Dramas, International Movies, Music & Musicals",Netflix,111,min

In [95]:
#se Agrega un indice
Transmision["idStream"] = Transmision.index+1

In [96]:
Transmision

,type,title,cast,release_year,listed_in,plataforma,duracion,TipoDuracion,idStream
0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,"Comedy, Drama",Amazon,113,min,1
1,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,"Drama, International",Amazon,110,min,2
2,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,"Action, Drama, Suspense",Amazon,74,min,3
3,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,Documentary,Amazon,69,min,4
4,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,"Drama, Fantasy",Amazon,45,min,5
...,...,...,...,...,...,...,...,...,...
22993,Movie,Zodiac,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",2007,"Cult Movies, Dramas, Thrillers",Netflix,158,min,22994
22994,TV Show,Zombie Dumb,no dato,2018,"Kids' TV, Korean TV Shows, TV Comedies",Netflix,2,Seasons,22995
22995,Movie,Zombieland,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",2009,"Comedies, Horror Movies",Netflix,88,min,22996
22996,Movie,Zoom,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",2006,"Children & Family Movies, Comedies",Netflix,88,min,22997
22997,Movie,Zubaan,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",2015,"Dramas, International Movies, Music & Musicals",Netflix,111,min,22998

In [103]:
#se crea la tabla genero para normalizar, dejando el IDstream como indice de relacion
Genero= Transmision[["idStream","listed_in"] ].drop_duplicates()

# se crea realiza un split de la tabla para tener desagregado los campos
Genero["listed_in"] = Genero["listed_in"].str.split("," , expand = False)
Genero=Genero.explode("listed_in")

In [104]:
#se crea la tabla Actores para normalizar, dejando el IDstream como indice de relacion
Actores= Transmision[["idStream","cast"] ].drop_duplicates()

In [105]:
Actores

       idStream                                               cast
0             1     Brendan Gleeson, Taylor Kitsch, Gordon Pinsent
1             2   Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar
2             3  Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...
3             4  Interviews with: Pink, Adele, Beyoncé, Britney...
4             5  Harry Dean Stanton, Kieran O'Brien, George Cos...
...         ...                                                ...
22993     22994  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
22994     22995                                            no dato
22995     22996  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
22996     22997  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
22997     22998  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...

[22998 rows x 2 columns]

In [106]:
# se crea realiza un split de la tabla para tener desagregado los campos
Actores["cast"] = Actores["cast"].str.split("," , expand = False)
Actores=Actores.explode("cast")

In [ ]:
#se coloca un strip para borrar los espacios

In [107]:
Actores

       idStream                    cast
0             1         Brendan Gleeson
0             1           Taylor Kitsch
0             1          Gordon Pinsent
1             2        Mahesh Manjrekar
1             2           Abhay Mahajan
...         ...                     ...
22997     22998        Manish Chaudhary
22997     22998            Meghna Malik
22997     22998           Malkeet Rauni
22997     22998          Anita Shabdish
22997     22998   Chittaranjan Tripathy

[119713 rows x 2 columns]

In [166]:
from sqlalchemy import create_engine    
connection_string = "mysql+pymysql://%s:%s@%s:%s/%s" % ('root', 'Andrea25%', 'Localhost', 3306, 'peliculas')
engine = create_engine(connection_string)

In [ ]:
from LABS.Lab01.PI01_DATA05.API.app.models.modeltrans import transmision

transmision.to_sql('transmision',con=engine,index=False,if_exists='append')

In [ ]:
transmision.to_sql('genero',con=engine,index=False,if_exists='append')

In [ ]:
transmision.to_sql('actores',con=engine,index=False,if_exists='append')